@font-face {
	font-family: IRANSansX;
	font-style: normal;
	font-weight: 700;
	src: url('/assets/assets/fonts/woff/IRANSansX-Bold.woff') format('woff'),
		url('fonts/woff2/IRANSansX-Bold.woff2') format('woff2');
}

@font-face {
	font-family: IRANSansX;
	font-style: normal;
	font-weight: 400;
	src: url('/assets/assets/fonts/woff/IRANSansX-Regular.woff') format('woff'),
		url('fonts/woff2/IRANSansX-Regular.woff2') format('woff2');
}


@font-face {
	font-family: YekanBakh;
	font-style: normal;
	font-weight: 100;
	src: url('fonts/woff/YekanBakhFaNum-thin.woff') format('woff'),
		url('fonts/woff2/YekanBakhFaNum-thin.woff2') format('woff2');
}

@font-face {
	font-family: YekanBakh;
	font-style: normal;
	font-weight: 300;
	src: url('fonts/woff/YekanBakhFaNum-Light.woff') format('woff'),
		url('fonts/woff2/YekanBakhFaNum-Light.woff2') format('woff2');
}

@font-face {
	font-family: YekanBakh;
	font-style: normal;
	font-weight: normal;
	src: url('/assets/fonts/woff/YekanBakhFaNum-Regular.woff') format('woff'),
		url('/assets/fonts/woff2/YekanBakhFaNum-Regular.woff2') format('woff2');
}

@font-face {
	font-family: YekanBakh;
	font-style: normal;
	font-weight: 600;
	src: url('/assets/fonts/woff/YekanBakhFaNum-SemiBold.woff') format('woff'),
		url('/assets/fonts/woff2/YekanBakhFaNum-SemiBold.woff2') format('woff2');
}

@font-face {
	font-family: YekanBakh;
	font-style: normal;
	font-weight: bold;
	src: url('/assets/fonts/woff/YekanBakhFaNum-Bold.woff') format('woff'),
		url('/assets/fonts/woff2/YekanBakhFaNum-Bold.woff2') format('woff2');
}

@font-face {
	font-family: YekanBakh;
	font-style: normal;
	font-weight: 800;
	src: url('/assets/fonts/woff/Yekan Bakh FaNum-ExtraBold.woff') format('woff'),
		url('/assets/fonts/woff2/Yekan Bakh FaNum-ExtraBold.woff2') format('woff2');
}

@font-face {
	font-family: YekanBakh;
	font-style: normal;
	font-weight: 900;
	src: url('/assets/fonts/woff/Yekan Bakh FaNum-Black.woff') format('woff'),
		url('/assets/fonts/woff2/Yekan Bakh FaNum-Black.woff2') format('woff2');
}

@font-face {
	font-family: YekanBakh;
	font-style: normal;
	font-weight: 950;
	src: url('/assets/fonts/woff/Yekan Bakh FaNum-ExtraBlack.woff') format('woff'),
		url('/assets/fonts/woff2/Yekan Bakh FaNum-ExtraBlack.woff2') format('woff2');
}



.chart-container {
	position: relative;
	height: 320px;
	width: 100%;
	max-width: 100%;
	overflow: hidden;
}

canvas {
	max-height: 100% !important;
	width: 100% !important;
}

.stats-card {
	transition: all 0.3s ease;
}

.stats-card:hover {
	transform: translateY(-5px);
	box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}


body {
	direction: rtl;
	font-family: 'YekanBakh' !important;
}

table {
	text-align: center;
}

.direction-ltr {
	direction: ltr !important;
}

.direction-rtl {
	direction: rtl !important;
}

.select2-container--default .select2-selection--multiple {
	border-color: #d1d5db !important;
	border-radius: 0.5rem !important;
	--tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
	--tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
	height: 40px !important;
	width: 100% !important;
}